n8n-workflows/01_prospection_9h.json
{
  "name": "01 — Prospection quotidienne 9h",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * 1-5"
            }
          ]
        },
        "timezone": "Europe/Paris"
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Schedule — 9h Paris (lun-ven)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webconceptor.fr/api/prospect/cron",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-cron-secret",
              "value": "e0edc796fff2ffd69e2f576f0e91d208ca9fee7df025c302e5db7b6270c1ab86"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": false,
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "POST /api/prospect/cron",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Succès ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=✅ Prospection 9h OK\n\nAjoutés : {{ $('POST /api/prospect/cron').item.json.results.inserted }}\nEmails envoyés : {{ $('POST /api/prospect/cron').item.json.results.sent }}\nLog : {{ $('POST /api/prospect/cron').item.json.log.join('\\n') }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "disable_notification": true
        }
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Telegram OK",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram WebConceptor"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=⚠️ Prospection 9h ERREUR\n\n{{ $('POST /api/prospect/cron').item.json.error || $('POST /api/prospect/cron').item.json.results.errors.join('\\n') }}",
        "additionalFields": {
          "parse_mode": "HTML",
          "disable_notification": false
        }
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Telegram ERREUR",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 420],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram WebConceptor"
        }
      }
    }
  ],
  "connections": {
    "Schedule — 9h Paris (lun-ven)": {
      "main": [
        [
          {
            "node": "POST /api/prospect/cron",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/prospect/cron": {
      "main": [
        [
          {
            "node": "Succès ?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Succès ?": {
      "main": [
        [
          {
            "node": "Telegram OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram ERREUR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "executionTimeout": 330
  },
  "tags": ["webconceptor", "prospection"]
}
