n8n-workflows/03_relances_email_10h30.json
{
  "name": "03 — Relances email J+2 (10h30)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 8 * * 1-5"
            }
          ]
        },
        "timezone": "Europe/Paris"
      },
      "id": "c9d0e1f2-a3b4-5678-cdef-789012345678",
      "name": "Schedule — 10h30 Paris (lun-ven)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://webconceptor.fr/api/prospect/email-reminders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-cron-secret",
              "value": "e0edc796fff2ffd69e2f576f0e91d208ca9fee7df025c302e5db7b6270c1ab86"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": false,
        "options": {
          "timeout": 120000,
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "d0e1f2a3-b4c5-6789-defa-890123456789",
      "name": "POST /api/prospect/email-reminders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "=📩 Relances J+2 10h30\n\nRelances envoyées : {{ $json.sent || 0 }}/{{ $json.processed || 0 }} ({{ $json.errors || 0 }} erreurs)",
        "additionalFields": {
          "parse_mode": "HTML",
          "disable_notification": true
        }
      },
      "id": "e1f2a3b4-c5d6-7890-efab-901234567890",
      "name": "Telegram résultat",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [680, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram WebConceptor"
        }
      }
    }
  ],
  "connections": {
    "Schedule — 10h30 Paris (lun-ven)": {
      "main": [
        [
          {
            "node": "POST /api/prospect/email-reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST /api/prospect/email-reminders": {
      "main": [
        [
          {
            "node": "Telegram résultat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "saveManualExecutions": true,
    "executionTimeout": 150
  },
  "tags": ["webconceptor", "relances"]
}
